.r-select {
	position: relative;


	.r-select-value {
		background: #fff;
		padding: .5em;
		border: 1px solid #eaeaea;
	}

	.r-select-dropdown {
		position: absolute;
		//margin: 0 1px;
		//left: 50%;
		width: 100%;
		background: white;
		max-height: 200px;
		box-shadow: 0 1px 10px 0 rgba(black, .2);
		overflow: auto;
		z-index: 100;
		overflow-x: hidden;
		//transform: translateX(-50%);

		.r-select-option {
			padding: 10px;

			&:hover {
				background: mix(mix(blue, green, 70%), white, 5%);
			}
		}
	}

}
