.r-select {
	position:relative;
	background: white;
	vertical-align: top;

	> .r-select-value {
		border: 1px solid darken(white, 12%);
	}

	> .r-select-options {
		position: absolute;
		background: white;
		z-index: 1;
		left:0;
		right: 0;
		box-shadow: 0 1px 5px 0 rgba(black, .3);
		max-height: 200px;
		overflow: auto;

		> .r-select-option {

			&:hover {
				background: lighten(#7FDBFF, 20%);
			}
		}
	}


	.r-select-item {
		padding: .5em;
	}


}
